/* Form.module.css */

.form {
    display: flex;
    flex-direction: column;
    max-width: 400px; /* Puedes ajustar el ancho máximo según tus preferencias */
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  .inlineInputs {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Espacio entre los campos de entrada en línea */
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }

.container{
    margin-top: 50px;
}


select[name="temperament"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  /* Estilos para las opciones dentro del select */
  select[name="temperament"] option {
    padding: 5px;
  }
  
  /* Estilos cuando se selecciona una opción */
  select[name="temperament"]:focus {
    border-color: #007bff;
  }

  option{
    color: black;
  }
  
  