/* Form.module.css */

.form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 0 auto;
	font-size: 14px;
	font-weight: bold;
}

label {
	margin-bottom: 30px;
}

.inlineInputs {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.inlineInputs label {
	flex: 1;
	margin-right: 10px;
}

.inlineInputs {
	display: flex;
	justify-content: space-between;
	gap: 10px; /* Espacio entre los campos de entrada en línea */
}

input[type="text"] {
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
	margin-bottom: 10px;
	padding: 5px;
	width: 100%;
}

.submitBtn {
	background-color: #007bff;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.submitBtn:hover {
	background-color: #0056b3;
}

.submitBtn[disabled] {
	background-color: gray;
	cursor: not-allowed;
}

.submitDisabled {
	color: red;
}

.container {
	margin-top: 50px;
}

.addTemp {
	border: none;
	background-color: #007bff;
	color: #fff;
	border-radius: 6px;
	padding: 0.3rem;
	margin-top: 5px;
}

.addTemp:hover {
	background-color: #0056b3;
}

.select {
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
	background: #fff;
}

.select:focus {
	border-color: #007bff;
}

.select option {
	padding: 5px;
	color: black;
}

.error {
	color: red;
}
