.container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-size: 14px;
}

h3 {
	font-size: 12px;
}

.filter button {
	background-color: #000;
	color: #fff;
	border: none;
	padding: 8px 16px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-bottom: 1rem;
}

.filter button:hover {
	background-color: gold;
	color: #000;
	font-weight: bold;
}

.temperament,
.order,
.orderWeight {
	margin-top: 30px;
}

.select-label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #fff;
  }

  select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
   
  }
  
  select option {
    background-color: #fff;
    color: #000;
  }

 