.container{
  display: flex;
  width: 100%;
  background-color: #000;
  color:#fff;
  text-align: center;
  height: 5vh;
  align-items: center;
}

.button{
    text-decoration: none;
    color: #fff;
    padding: 7px 1px;
    
}

.button_container{
    border:none;
    background: none;
    font-size: 16px;
}

.sbar{
    margin-left: 9vw;
}

.button:hover{
    color: gold;
    border-bottom: 1px solid gold;
    font-weight: bold;
}

/* NavBar.module.css */

/* Estilos para pantallas más pequeñas que 1920px */
@media screen and (max-width: 571px) {
    .container {
      flex-direction: column; /* Cambia la dirección del contenedor a columna */
    }
  
    .sbar {
      margin-bottom: 15px; /* Añade espacio entre los botones y la barra de búsqueda */
    }
  
    .button_container {
      margin-bottom: 10px; /* Añade espacio entre los botones */
    }
  
    .button {
      font-size: 16px; /* Ajusta el tamaño de fuente de los botones */
    }
  }
  


